* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    background-color: black;
    font-family: 'Sintony', sans-serif;
}

nav {
    position: relative;
    padding-bottom: 10px;
    justify-content: center;
    height: 40px;
    border-bottom: 3px solid #fff;
}

.hamburger {
    width: 20px;
    height: 25px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    left: 0;
    top: 50%;
    transform: translateY(-50%); 
}

.hamburger-line {
    background-color: #fff;
    width: 25px;
    height: 3px;
} 

.logo {
    position: absolute;
    font-family: 'Bungee', cursive;
    font-size: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    cursor: context-menu;
}

.nav-list {
    position: absolute;
    background-color: black;
    list-style-type: none;
    width: 100%;
    top: 50px;
    text-align: center;
    font-size: 24px;
    display: none;
    border-top: 3px solid black;
    z-index: 10;
}

a {
    font-weight: 300;
    text-decoration: none;
}

.active {
    font-size: 25px;
    font-weight: 800;
}

.nav-item {
    padding: 10px;
}

.header {
    position: relative;
    width: 100%;
    height: auto;
}

.home-header {
    opacity: 0;
}

.header-animation {
    -webkit-animation: header-animation linear forwards 2s;
    animation: header-animation linear forwards 2s;
}

.main-img {
    width: 100%;
}

h1 {   
    font-size: 23px;
    text-align: center;
    margin-top: 15%;
    -webkit-animation: h1-color 5s linear infinite;
    animation: h1-color 5s linear infinite;
    text-shadow: #689BC3 0px 0px 10px;
}

.informations {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.description {
    font-size: 14px;
    width: 90%;
    margin: auto;
}

.specializations {
    position: absolute;
    width: 100%;
    bottom: 0;
   left: 50%;
   transform: translate(-50%);
}

.offer-list {
    padding: 5% 0;
    font-weight: 700;
    font-size: 18px;
    list-style-type: none;
}

.offer-item {
    padding: 5px 0;
}

footer {
    position: relative;
    padding: 25px 0 5px;
    width: 100%;  
    border-top: 3px solid #fff;
} 

footer ul {
    display: none;
}

.footer-inscriptions {
    width: 100%;
    text-align: center;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media img {
    margin: 20px 5px;
}

.logo-footer {
    font-size: 25px;
    font-family: 'Bungee', cursive;
    line-height: 20px;
    cursor: context-menu;
}

.copy-rights {
    font-family: 'Sintony', sans-serif;
    font-size: 12px;
}

.social-media a {
    transition: 1s;
}

.social-media a:hover {
    opacity: .2;
}

.contact-header {
    padding: 50px 0;
}

.contact-informations {
    text-align: center;
}

.contact-informations h2 {
    margin-top: 30px;
}

.contact-informations h2:first-of-type {
    margin-top: 0;
}

h2 + p {
    margin-top: 15px;
}

.help-img {
    display: none;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    margin: 20px 0;
}

form input {
    padding: 5px 10px;
}

textarea {
  padding: 5px 10px;
  height: 300px;
  margin: 10px 0;
}

form input, textarea {
    box-sizing: border-box;
    width: 90%;
    color: black;
    font-family: 'Sintony', sans-serif;
    -webkit-box-shadow: 0 8px 6px -6px rgb(39, 39, 39);
	   -moz-box-shadow: 0 8px 6px -6px rgb(39, 39, 39);
	        box-shadow: 0 8px 6px -6px rgb(39, 39, 39);
}

.checkbox-holder {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

form input:focus, textarea:focus {
    outline: rgb(8, 8, 167) 2px solid;
}

form input::placeholder, textarea::placeholder {
    font-family: 'Sintony', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 500;
}

input[type="checkbox"] {
    width: unset;
    margin-right: 10px;
}

button {
    background-color: #fff;
    color: black;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 18px;
    border-radius: 8px;
    margin: 10px 0 50px 0;
    transition: .5s;
}

button:hover {
    background-color: #436687;
    color: #fff;
    box-shadow: 0px 0px 4px #689BC3;
}

.about-header h2 {
    margin: 10% 0 15%;
}

.about-header p {
    width: 95%;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-top: 10%;
}

.inscription-visible {
    display: none;
}

@-webkit-keyframes h1-color {
    0%, 70%, 100% {
        color: #fff;
    }

    40% {
        color: #689BC3;
    }

    50% {
        color: #436687;
    }

    60% {
        color: #689BC3;
    }
}

@keyframes h1-color {
    0%, 70%, 100% {
        color: #fff;
    }

    40% {
        color: #689BC3;
    }

    50% {
        color: #436687;
    }

    60% {
        color: #689BC3;
    }
}

@-webkit-keyframes header-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes header-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 1000px) {

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: unset;
        padding: 10px;
    }

    .logo {
        position: unset;
        transform: unset;
        line-height: 30px;
        margin-left: 10px;
    }

    .hamburger {
        display: none;
    }

    .nav-list {
        line-height: 18px;
        width: auto;
        font-size: 14px;
        position: unset;
        display: flex;
        margin-left: 20px;
    }

    .active {
        font-size: 14px;
    }

    .nav-item {
        display: inline;
    } 

    .nav-item a {
        transition: 1s;
    }

    .help {
        display: none;
    }

    .nav-item a:hover {
        color: #689BC3;
    }

    .home-information {
        width: 50%;
        text-align: left;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .specializations {
        position: static;
        transform: unset;
    }
  

    h1 {
        margin-top: 0;
        text-align: left;
    }

    .offer-list {
        padding: unset;
    }

    .offer-holder {
        position: static;
    }

    .description {
        margin: 20px 0 10px 0;
        width: 50%;
    }

    footer {
        height: 200px;
        display: flex;
        justify-content: center;
        opacity: 0;
    }

    .footer-inscriptions {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer ul {
        display: flex;
        list-style-type: none;
        width: 150px;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    footer ul li {
        margin-top: -50%;
    }

    footer ul a {
        transition: .5s;
    }

    footer ul a:hover {
        color: #689BC3;
    }

    .contact-header {
        padding: 100px 0;
    }

    .contact-informations {
        text-align: left;
        width: 50%;
        position: relative;
    }

    .contact-informations h2 {
        font-size: 20px;
        margin-top: 25px;
    }

    .contact-informations h2:first-of-type {
        margin-top: 0;
    }

    .contact-informations p {
        font-size: 12px;
    }

    .contact-informations h2 + p {
        margin-top: 10px;
    }

    .help-img {
        display: block;
    }

    form {
        position: absolute;
        top: 0;
        height: 100%;
        width: 30%;
        justify-content: center;
    }

    form h2{
        align-self: flex-start;
    }

    form input, textarea {
        background-color: black;
        color: #fff;
        border: none;
    }

    form input::placeholder, textarea::placeholder {
        color: #fff;
    }

    textarea, .checkbox-holder {
        width: 100%;
    }

    form input[type="email"] {
        width: 60%;
        align-self: flex-start;
    }

    button {
        align-self: flex-end;
    }

    .about-information {
        width: 60%;
        text-align: left;
        margin: auto;
        left: 0;
        right: 0;
        background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5));
        padding: 0 1%;
        box-sizing: border-box;
    }

    .about-header p {
        width: 95%;
        right: 0;
        left: 0;
        margin: auto;
        font-size: 14px;
        line-height: 25px;
        margin-top: 10%;
        margin-bottom: 3%;
    }

    .about-header .inscription-visible {
        display: block;
        width: 100%;
        margin-top: 5%;
    }

    .about-header .bottom-inscription {
        margin-top: 0%;
        width: 100%;
    }

    .about-header h2 {
      margin-bottom: 7%;
    }
}
