/* Colors */

$primary-color: #FF9800;
$secondary-color: #01628C;

$btn-color: #0c9ad8;
$shadow-color: #747F84;

$font-primary-color: #626870;
$font-secondary-color: #001D29;

$links-primary-color: #0C9AD8;
$links-secondary-color: #F5B75B;
$icon-background: #f3f7fc;



/* Width */
$small: 576px;
$medium: 760px;
$large: 992px;
$extra-large: 1200px;

/* container width */

$container-small: 100%;
$container-medium: 80%;
$container-large: 60%;

