.header-holder {
    background-color: #fff;
    padding-top: 100px;
    height: 260px;

    .background-animation {
        position: absolute;
        opacity: 0;
    }

    #quotes {
        position: relative;
        cursor: pointer;
        
        #quotes-pl {
            position: absolute;
            width: 85%;
            right: 10px;
            top: 0;
            text-align: right;
            opacity: 1;
            transition: all .5s;

            &.hidden {
                opacity: 0;
            }

            #quote {
                margin-bottom: 10px;
                font-size: 24px;
                color: rgb(1, 98, 140);
                font-weight: 600;
            }

            #autor {
                color: rgb(116, 127, 132);
                font-size: 18px;
                text-align: right;
                margin-top: 15px;
            }
        }

        #quotes-rus {
            position: absolute;
            width: 85%;
            right: 10px;
            top: 0;
            text-align: right;
            opacity: 0;
            transition: all .5s;

            &.visible {
                opacity: 1;
            }

            #quote-rus {
                margin-bottom: 10px;
                font-size: 24px;
                color: rgb(1, 98, 140);
                font-weight: 600;
            }

            #autor-rus {
                color: rgb(116, 127, 132);
                font-size: 18px;
                text-align: right;
                margin-top: 15px;
            }
        }
    }
}

@media (min-width: $large) {
    .header-holder {
        background-color: rgb(12, 154, 216);
        padding-top: 150px;
        height: 70vh;
        position: relative;
        
        .background-animation {
            opacity: 1;
            overflow: hidden;
            height: 70vh;
            top: 0;
            width: 100%;

            .word-1,
            .word-2 {
                position: absolute;
                color: #FFF3E0;
                font-size: 200px;
            }

            .word-1 {
                top: 40px;
                animation: animation1 20s linear infinite;
            }

            .word-2 {
                bottom: 30px;
                white-space: nowrap;
                animation: animation2 20s linear infinite;
            }
        }

        #quotes {
            margin-top: 60px;
            #quotes-pl {
               
                width: 600px;
                left: 100px;
                text-align: left;

                #quote {
                    color: #EEFAFF;
                    font-size: 36px;
                    text-shadow: 0px 0px 6px $secondary-color;
                }

                #autor {
                    color: $links-secondary-color;
                    font-size: 20px;
                    text-shadow: 0px 0px 1px #794800;
                }
            }

            #quotes-rus {
                width: 600px;
                left: 100px;
                text-align: left;
        
                #quote-rus {
                    color: #EEFAFF;
                    font-size: 36px;
                    text-shadow: 0px 0px 6px $secondary-color;
                }
        
                #autor-rus {
                    color: $links-secondary-color;
                    font-size: 20px;
                    text-shadow: 0px 0px 1px #794800;
                }
            }
        } 
    }
}

@keyframes animation1 {
    0% {
        transform: translateX(-100%); 
        padding-left: 110%;
    }

    100% {
        transform: translateX(0); 
        padding-left: 110%;
    }
}   

@keyframes animation2 {
    0% {
        transform: translateX(0); 
        padding-left: 110%;
    }

    100% {
        transform: translateX(-100%); 
        padding-left: 110%;
    }
}