.info {
    background-color: rgba(245, 249, 251, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 60px 0 0;
    
    .slider-container {
        width: 100%;
        display: flex;
        overflow: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        transition: all .3s;
        position: relative;
        scrollbar-color: $secondary-color $links-secondary-color;
        
        &::-webkit-scrollbar {
            width: 50px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px #a76400; 
            background-color: $links-secondary-color;
        }

        &::-webkit-scrollbar-thumb {
            background-image: linear-gradient(to left, $primary-color , $secondary-color);
            border-radius: 20px;
        }
      
        .slider {
            width: 100%;
            flex-shrink: 0;
            scroll-snap-align: start;
            scroll-behavior: smooth;
            transition: all 3s;

            h3 {
                text-align: center;
            }
  
            .part-1, 
            .part-2 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                .text {
                    width: 90%;
                    margin: 20px auto;
                    text-align: center;
                    
                    .button {
                        margin-bottom: 10px;
                    }

                    p   {
                        line-height: 25px;
                        margin-top: 20px;
                        color: $font-primary-color;

                        &:last-of-type {
                            color: $primary-color;
                            font-weight: 700;
                        }

                        a {
                        color: $links-primary-color;
                        transition: all .3s;

                            &:hover {
                                color: $links-secondary-color;
                            }
                        }
                    }
                }
            }
        }
    }

    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
        border-radius: 50%;
        margin: auto;
        box-shadow: 0 0 6px $shadow-color;

        &.photo-of-me {
            object-position: top;
        }
    }
}

@media (min-width: $medium) {

    .info {
      
        .slider-container {
            width: 60%;
        }
    }
}

@media (min-width: $large) {

    .info {
        padding: 60px 0;

        .slider-container {
            width: 950px;  

            .slider {
                .part-1, 
                .part-2 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    img {
                        width: 400px;
                        height: 400px;
                        border-radius: 0;

                        &.photo-of-me {
                            order: 1;
                        }
                    }
                    
                    .text {
                        width: 50%;
                    }
                }
            }
        }
    }      
}