.usefull-links {
    text-align: center;

    .links-container {
        width: $container-small;

        .link-holder {
                width: 100%;
                margin: auto;
            
            .link {
                color: $links-primary-color;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    color: $links-secondary-color;
                }

                &:hover i {
                transform: rotate(-360deg);
                }
                
                i {
                    font-size: 36px;
                    width: 80px;
                    height: 80px;
                    background-color: $icon-background;
                    border-radius: 50%;
                    line-height: 80px;
                    transition: all 1.2s;
                }

                p {
                    font-size: 18px;
                    margin: 10px 0 30px 0;
                }
            }
        }
    }

    @media (min-width: $small) {
        .links-container {
            width: $container-medium;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .link-holder {
                width: 49%;
            }
        }
    }

    @media (min-width: $large) {
        .links-container {
            width: $large;

            .link-holder {
                width: 33%;
            }
        }
    }
}