footer {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 1% 0;
    width: 100%;
    z-index: 10;
    position: relative;


    // &.contact-footer {
    //     background-color: red;
    //     // bottom: 1%;
    //         bottom: 0%;
    // height: 15vh;
    // position: absolute;
    // z-index: -2;
    // // top: 10vh;
    // }
    .icons-footer-holder {
        display: flex;
        left: 50%;
        transform: translate(-50%);
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding: .5% 0;
a{
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
}
        img {
            height: 100%;
        }
    }

    .email {
        font-weight: 300;
        font-size: 16px;
    }
    // .behance {
    //     position: absolute;
    //     width: 3%;
    // }
}