#illustrations-section {
    width: 100%;
    // background-color: blue;
    // display: flex;
    position: relative;
    padding-top: 30%;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    box-shadow: 0 4px 6px -2px #8e8e8e;
    // justify-content: center;
    .drawings-holder {
        // background-color: blueviolet;
        width: 70%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: 5%;
        // display: flex;
        // justify-content: space-evenly;
    
      img {
          width: 100%;
          transition: .5s;

          &:hover {
            transform: scale(1.2);
            box-shadow:  0 0 20px rgb(44, 44, 44);
        }
      }
    }
}

@media (min-width: 800px) {
    #illustrations-section {
        padding-top: 10%;
       
        .drawings-holder {
            width: 50%;
            display: flex;
            justify-content: space-evenly;

            img {
                margin-bottom: 15px;
               

               
            }
          .left-side {
              width: 45%;
          }

          .right-side {
              width: 49%;
          }
        }
    }
}