.drawing-holder-macrame {
    display: flex;
    flex-direction: column;

    p {
        align-self: flex-end;
        font-weight: 300;
    }


}


#macrame-sketches-holder {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 2% 0%;

    p {
        margin-left: 2.5%;
        font-size: 1.2rem;
    }

    .macrame-inspirations-photos-holder {
        display: flex;
        width: 95%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin: unset;
        padding: 2% 0;
        align-items: center;
        // height: 40vh;

        img {

            width: 45%;
            transition: .5s;
            // box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.678);
            box-shadow:  0px 4px 8px rgba(128, 128, 128, 0.678);
            // position: absolute;
            &.macrame-sketches-big {
                z-index: 30; 
             }
 
             &.macrame-sketches-big2 {
                 z-index: 20;
                 position: absolute;
                 transform: translate(50%);
                 width: 43%;
                 left: 0;
             }

             &.macrame-sketches-big3 {
                z-index: 10;
                position: absolute;
                transform: translate(150%);
                width: 31%;
                left: 0;
            }

            &.macrame-sketches-big4 {
                z-index: 5;
                position: absolute;
                transform: translate(320%);
                width: 21%;
                left: 0;
            }

         

            &.hover-like {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50%;
                z-index: 50;
                transform: translate(-50%, -50%);
            }

           
        }
    }
}

@media (min-width: 800px) {
    #macrame-sketches-holder {
      
        p {
            margin-left: 25%;
           
        }
       
    
        .macrame-inspirations-photos-holder {
           
            width: 50%;

        }
    }
}