$header-font: 'Inter', sans-serif;
$copy-font: 'Roboto', sans-serif;

$extra-large-font-size: 4rem;
$large-font-size: 3rem;
$welcone-font-size: 1.5rem;
$medium-font-size: 1.25rem;
$midium-second-font-size: 1.125rem;
$small-font-size: 1rem;
$extra-small-font-size: .875rem;
$border-radius: 3.125rem;
$mobile_h2_size: 1.875rem;
$mobile_button_size: .75rem;;

$blue: #0251B8;
$dark-blue: #16437D;
$text-contrast: #C24A76;
$text-light-grey: #909090;
$text-dark-grey: #313131;
$light-green: #7E9FAF;

$photoshop-text-color: #4B646F;
$css-text-color: #625271;
$figma-text-color: #67394A;
$html-text-color: #6B3F47;
$illustartor-text-color: #4C2B3C;
$git-text-color: #4D4D4D;

$rich-media-gradient: linear-gradient(122deg, #C24A76 0%, #F171A0 100%);
$travel-blog-gradient: linear-gradient(122deg, #4B646F 0%, #7E9FAF 100%);
$kabarday-gradient:  linear-gradient(122deg, #67394A 0%, #C24A76 100%);
$photomontage-gradient: linear-gradient(143deg, #FFE1EC 5.40%, #C24A76 100%);
$sign-book-gradient: linear-gradient(122deg, #F1EBF5 0%, #8B71A3 100%);

$photoshop-gradient: linear-gradient(137deg, #DEEEF6 0%, #94B3DB 100%);
$js-gradient: linear-gradient(139deg, #DEEEF6 0%, #7E9FAF 100%);
$css-gradient: linear-gradient(146deg, #F1EBF5 0%, #B29BC7 100%);
$figma-gradient: linear-gradient(146deg, #F4DBDD 0%, #EA778B 100%);
$html-gradient: linear-gradient(154deg, #F4DBDD 0%, #C8919E 100%);
$illustrator-gradient: linear-gradient(150deg, #DDBFCF 0%, #9A5C7D 100%);
$git-gradient: linear-gradient(141deg, #F5F3F3 0%, #909090 100%);

$skills-shadow: 1px 4px 4px 0px rgba(0, 0, 0, .15);
$button-shadow: 0px 4px 4px 0px rgba(59, 59, 59, .29);
$portfolio-border-shaow: 4px 4px 4px 0px rgba(0, 0, 0, .10);
$skills-text-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .15);

$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

$transition-slow: 1s;
$transition-fast: .5s;