.button {
    background-color: rgb(12, 154, 216);
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    font-size: 18px;
    transition: all .2s;
    margin: 20px 0;

    &:hover {
        background-color: rgba(1, 98, 140, 1);
    }
}