%btn {
    display: block;
    margin: auto;
    width: 100px;
    height: 40px;
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid $main-color;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    transition: all .3s;

    &:focus {
        outline: $main-color;
    }
}

.ready {
    @extend %btn;

    &:hover {
        color: white;
        background-color: $main-color;
    }
}