input,
textarea {
    width: 80%;
    height: 40px;
    margin: 10px 0;
    color: $main-color;
    font-weight: 700;
    text-align: center;
    border: #52B0C5;
    border-radius: 5px;
    align-self: center;

    &:focus {
        outline: 1px solid $main-color;
    }

    &::placeholder {
        color: #7DB4C0;
        text-align: center;
    }
}