* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.content-container.hide {
    display: none;
}

.main-header {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.main-header #logo {
    width: 120px;
    margin-bottom: 5px;
}

.main-header #copy {
    width: 140px;
}

.main-header #close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

.main-content {
    flex-grow: 1;
    display: flex;
}


.main-content .slide-1,
.main-content .slide-2 {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */
    z-index: 10;
    transition: all 2s;
}

/* .main-content .slide-1.slide-move,
.main-content .slide-2.slide-move {
    animation: slide-transform 1s forwards 3s linear;
} */

.main-content .slide-1.slide-move,
.main-content .slide-2.slide-move {
    transform: translate(-100%);
}

.main-content .slide-1 .main-image {
    width: 230px;
}

.slide-1-text {
    width: 100%;
    text-align: center;
}

.text-1 {
    height: 70px;
}

.main-content .slide-1 .slide-1-text .copy-2 {
    width: 230px;
}

.main-content .slide-1 .slide-1-text .copy-2.invisible {
    display: none;
}

.main-content .slide-1 .slide-1-text .copy-3 {
    width: 0;
    transition: all 1s;
}

.main-content .slide-1 .slide-1-text .copy-3.visible {
    width: 230px;
}

.main-content .slide-1 .slide-1-text .text-2 .chairs {
    display: flex;
    justify-content: space-around;
    width: 290px;
    margin: auto;
}

.main-content .slide-1 .slide-1-text .text-2 .chairs .chair-container {
    width: 40px; 
}

.main-content .slide-1 .slide-1-text .text-2 .chairs .chair-container .chair {
    width: 35px;
    transition: all 1s;
}

.main-content .slide-1 .slide-1-text .text-2 .chairs .chair-container .chair.big {
    transform: scale(1.2);
}

.main-content .slide-1 .slide-1-text .text-2 .chairs .chair-container .chair.invisible {
    display: none;
}

.main-content .slide-1 .slide-1-text .text-2 .copy-4 {
    display: none;
    width: 200px;
    opacity: 0;
}

.main-content .slide-1 .slide-1-text .text-2 .copy-4.visible {
    display: inline-block;
    animation: copy-2-appears 1s forwards linear 1s;
}

.ellipse {
    position: absolute;
   
    animation: elipse-scale 10s linear infinite;
}

.ellipse.ellipse-1 {
    width: 150px;
    top: 50px;
    left: -90px;
}

.ellipse.ellipse-2 {
    width: 65px;
    bottom: 120px;
    left: -40px;
}

.ellipse.ellipse-3 {
    width: 80px;
    top: 60px;
    right: -40px;
}

.ellipse.ellipse-4 {
    width: 65px;
    bottom: 230px;
    right: -15px;
}

.main-content .slide-2 .box {
    width: 140px;
    margin: 50px 0 5px 0;
}

.main-content .slide-2 .slider-2-bottom-content {
    text-align: center;
}
.main-content .slide-2 .slide-2-text {
    text-align: center;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
}


.main-content .slide-2 .slide-2-text.animation-begin {
    animation: text-animation 1s  forwards linear;
}

.main-content .slide-2 .slide-2-text .slide-2-text-1 {
    width: 200px;
}

.main-content .slide-2 .slide-2-text .slide-2-text-2 {
    width: 200px;
}

.main-content .slide-2 .button {
    width: 220px;
    margin-top: 5px;
}

.main-content .slide-2 .button.animation {
    animation: button-animation 2s infinite 3s linear;
}

@keyframes copy-2-appears {
    100% {
        opacity: 1;
    }
}

@keyframes elipse-scale {
    0%, 100% {
       transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes slide-transform {
    100% {
        transform: translateX(-100%);
    }
}

@keyframes text-animation {
    100% {
        transform: translateX(0);
    }
}

@keyframes button-animation {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

@media (min-width: 600px) and (min-height: 1024px) {

    
    .main-header #logo {
        width: 180px;
    }
    
    .main-header #copy {
        width: 200px;
    }
    
    .main-header #close {
        top: 20px;
        right: 20px;
        font-size: 35px;
    }

    .main-content .slide-1 .main-image {
        width: 400px;
    }

    .text-1 {
        height: 100px;
    }

    .main-content .slide-1 .slide-1-text .copy-2 {
        width: 350px;
    }

    .main-content .slide-1 .slide-1-text .copy-3.visible {
        width: 350px;
    }


    .main-content .slide-1 .slide-1-text .text-2 .chairs {
        width: 450px;
    }

    .main-content .slide-1 .slide-1-text .text-2 .chairs .chair-container {
        width: 60px; 
    }

    .main-content .slide-1 .slide-1-text .text-2 .chairs .chair-container .chair {
        width: 60px;
    }

    .main-content .slide-1 .slide-1-text .text-2 .copy-4 {

        width: 300px;
 
    }



    .ellipse.ellipse-1 {
        width: 250px;
        top: 50px;
        left: -90px;
    }

    .ellipse.ellipse-2 {
        width: 125px;
        bottom: 120px;
        left: -40px;
    }

    .ellipse.ellipse-3 {
        width: 160px;
        top: 60px;
        right: -40px;
    }

    .ellipse.ellipse-4 {
        width: 125px;
        bottom: 230px;
        right: -15px;
    }

    .main-content .slide-2 .box {
        width: 250px;
    }

    .main-content .slide-2 .slide-2-text .slide-2-text-1 {
        width: 350px;
    }

    .main-content .slide-2 .slide-2-text .slide-2-text-2 {
        width: 350px;
    }


    .main-content .slide-2 .button {
        width: 350px;
    }
}