/* colors */
/* Mobile breakpoint */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.main-navigation {
  width: 100%;
}

.main-navigation.absolute {
  position: absolute;
  top: 0;
}

.main-navigation .container {
  display: flex;
  height: 80px;
  position: relative;
}

.main-navigation .container .logo {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  z-index: 10000;
  transition: all 5s;
}

.main-navigation .container .logo:hover {
  height: 60vh;
}

.main-navigation .container .logo img {
  height: 100%;
  opacity: .9;
}

.main-navigation .container .hamburger {
  color: #fff;
  font-size: 1.8em;
  position: absolute;
  z-index: 2000;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.main-navigation .container .navigation-menu {
  position: absolute;
  top: -400px;
  opacity: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  padding: 0;
  height: auto;
  transition: all 1s;
}

.main-navigation .container .navigation-menu.show-menu {
  opacity: 1;
  top: 80px;
}

.main-navigation .container .navigation-menu li {
  padding: 10px;
  width: 200px;
  text-align: center;
  font-size: 30px;
}

.main-navigation .container .navigation-menu li .navigation-item {
  color: #fff;
  text-transform: uppercase;
}

.main-navigation.reverse .container .logo {
  background-color: rgba(0, 0, 0, 0.7);
}

.main-navigation.reverse .container .hamburger {
  color: #5f5f5f;
}

.main-navigation.reverse .container .navigation-menu {
  background-color: rgba(0, 0, 0, 0.8);
}

@media all and (min-width: 768px) {
  .main-navigation .container .logo {
    transition: all 5s;
  }
  .main-navigation .container .logo.logo-animation {
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 15px #202020, 0 0 5px #202020;
  }
  .main-navigation .container .logo.logo-back {
    height: 80px;
    left: 0;
    transform: translateX(0);
  }
  .main-navigation .container .hamburger {
    display: none;
  }
  .main-navigation .container .navigation-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    background-color: transparent;
  }
  .main-navigation .container .navigation-menu li {
    padding: 0;
    width: auto;
    font-size: initial;
    display: inline-block;
    margin-left: 10px;
  }
  .main-navigation .container .navigation-menu li .navigation-item {
    transition: all 1.2s;
  }
  .main-navigation .container .navigation-menu li .navigation-item.visible {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 10px;
  }
  .main-navigation .container .navigation-menu li .navigation-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 10px;
  }
  .main-navigation.reverse .container .navigation-menu {
    background-color: transparent;
  }
  .main-navigation.reverse .container .navigation-menu li .navigation-item {
    color: #5f5f5f;
  }
  .main-navigation.reverse .container .navigation-menu li .navigation-item.visible {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 10px;
    color: #fff;
  }
  .main-navigation.reverse .container .navigation-menu li .navigation-item:hover {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 10px;
    color: #fff;
  }
}

.home-header .overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
}

.home-header .carousel-item img {
  height: 100vh;
  object-fit: cover;
}

.home-header .carousel-item .carousel-caption {
  z-index: 60;
}

.home-header .carousel-item .carousel-caption h5 {
  font-size: 20px;
}

.home-header .carousel-item .carousel-caption a {
  color: white;
  transition: all .3s;
}

.home-header .carousel-item .carousel-caption a:hover {
  color: #8f5878;
}

/* about page */
.about-section {
  text-align: justify;
  padding: 60px 0 40px 0;
  color: #5f5f5f;
}

.about-photos {
  padding-bottom: 60px;
}

.about-photos .photo-holder {
  height: 500px;
  margin-bottom: 10px;
}

.about-photos .photo-holder .photographer {
  opacity: 0;
}

.about-photos .photo-holder img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media all and (min-width: 768px) {
  .photo-holder .photographer {
    opacity: 0;
    transition: all .8s;
    color: #5f5f5f;
  }
  .photo-holder .photographer.photographer-visible {
    opacity: 1;
    margin-top: 25px;
  }
  .photo-holder img {
    cursor: pointer;
    transition: all .8s;
  }
  .photo-holder img:hover {
    box-shadow: 0 0 10px #acacac, 0 0 5px #d8d8d8;
    transform: scale(1.1, 1.1);
  }
}

/* session page */
.session-header {
  background-image: url("../img/galeria-2/liadine_DSC7792.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  box-shadow: 0 0 10px #acacac, 0 0 5px #d8d8d8;
  position: relative;
}

.session-header .overlay-session-header {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}

.session-header .session-header-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 100%;
}

.session-section {
  padding: 60px 0;
}

.session-section .container {
  padding: 0;
}

.session-section .container .flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.session-section .container .flex .left-flex-container {
  flex-basis: 100%;
}

.session-section .container .flex .right-flex-container {
  flex-basis: 100%;
}

.session-section .container .flex a {
  display: block;
  height: 500px;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.session-section .container .flex a .session-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.session-section .container .flex a .session-photo-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all .8s;
  text-align: center;
}

.session-section .container .flex a .session-photo-overlay:hover {
  opacity: 1;
}

.session-section .container .flex a .photo-2 {
  object-position: 70% 0;
}

.session-section .container .flex a .photo-3 {
  object-position: 0 20%;
}

@media all and (min-width: 768px) {
  .session-section {
    padding: 60px 0;
  }
  .session-section .container {
    padding: 0;
  }
  .session-section .container .flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .session-section .container .flex .photo {
    height: 610px;
    margin-bottom: 0px;
    transition: all 1s;
  }
  .session-section .container .flex .photo .photo-2 {
    object-position: 70% 0;
  }
  .session-section .container .flex .photo .photo-3 {
    object-position: 0 20%;
  }
  .session-section .container .flex .photo.photo-bigger {
    transform: scale(1.1, 1.1);
    z-index: 100;
    box-shadow: 0 0 10px #414141, 0 0 5px #313131;
  }
  .session-section .container .flex .left-flex-container {
    flex-basis: 35%;
    padding-right: 10px;
  }
  .session-section .container .flex .right-flex-container {
    flex-basis: 65%;
  }
  .session-section .container .flex .right-flex-container a {
    height: 300px;
  }
  .session-section .container .flex .right-flex-container a .photo-2 {
    object-position: 0 70%;
  }
  .session-section .container .flex .right-bottom-flex-container {
    flex-basis: 100%;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
  }
  .session-section .container .flex .right-bottom-flex-container .bottom-flex {
    flex-basis: 32.5%;
  }
}

@media all and (min-width: 992px) {
  .session-header {
    background-position-y: -80px;
  }
}

.header-1 {
  background-image: url(../img/galeria-1/galeria-3.jpg);
  background-position: right top;
}

.header-2 {
  background-image: url(../img/galeria-2/liadine_DSC7772.jpg);
  background-position: center top;
}

.header-3 {
  background-image: url(../img/galeria-3/DSC_0901.jpg);
}

.header-4 {
  background-image: url(../img/galeria-4/_DSC8872.jpg);
  background-position: center top;
}

.header-5 {
  background-image: url(../img/galeria-5/IMG_2298.jpg);
}

.autors {
  text-align: center;
  margin: 40px 0;
}

.autors span {
  font-weight: 300;
}

.autors span a {
  color: black;
  transition: all .3s;
}

.autors span a:hover {
  color: #8f5878;
}

.portfolio-header {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-header a {
  height: 100vh;
  width: 100%;
  position: relative;
  color: #fff;
}

.portfolio-header a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-header a .portfolio-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .8s;
  text-align: center;
}

.portfolio-header a .portfolio-overlay h5 {
  text-transform: uppercase;
}

.portfolio-header a .portfolio-overlay:hover {
  opacity: 1;
}

@media all and (min-width: 600px) {
  .portfolio-header a {
    width: 33.33%;
  }
}

/* Contact page */
.contact-photo {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100vh;
  background-image: url("../img/o-mnie/CA85D74B-7ADF-4D91-A097-C38C32B1FCC9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.contact-photo .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  top: 0;
}

.contact-form {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  padding: 10px 0;
  box-shadow: 0 0 15px #202020, 0 0 5px #202020;
}

.contact-form .row {
  width: 70%;
  margin: auto;
}

.contact-form .row a {
  margin: 10px 0 15px;
  color: #8f5878;
  transition: all 1s;
  text-align: center;
}

.contact-form .row a:hover {
  color: #a87795;
}

.contact-form .row a i {
  font-size: 30px;
}

.contact-form h5 {
  text-align: center;
  margin-bottom: 5px;
}

.contact-form form label {
  display: block;
  padding: 10px 0 2px;
}

.contact-form form input:not([type=submit]),
.contact-form form textarea {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  height: 35px;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  outline-color: #8f5878;
}

.contact-form form textarea {
  height: 150px;
}

.contact-form form input[type=submit] {
  background-color: #8f5878;
  text-transform: uppercase;
  color: white;
  margin-top: 5px;
  border-color: #8f5878;
  transition: all .3s;
}

.contact-form form input[type=submit]:hover {
  background-color: #a87795;
  border-color: #a87795;
}

@media all and (min-width: 768px) {
  .contact-form {
    width: 50%;
    top: 100px;
    padding: 20px 0;
  }
  .contact-form .row {
    width: 50%;
  }
  .contact-form form {
    width: 90%;
    margin: auto;
  }
}

@media all and (min-width: 992px) {
  .contact-form {
    width: 40%;
  }
}

.collection-title {
  text-align: center;
  margin: 100px 0 50px 0;
}

.photo-gallery-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  position: fixed;
  z-index: 100000;
  top: 0;
}

.photo-gallery-overlay .gallery-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.photo-gallery-overlay i {
  color: #e0e0e0;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.photo-gallery-overlay i.left-gallery-arrow {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.photo-gallery-overlay i.left-gallery-arrow.invisible {
  display: none;
}

.photo-gallery-overlay i.left-gallery-arrow.previous-visible {
  display: block;
}

.photo-gallery-overlay i.right-gallery-arrow {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.photo-gallery-overlay i.right-gallery-arrow.invisible {
  display: none;
}

.photo-gallery-overlay .arrow-invisible {
  opacity: 0;
  cursor: none;
}

.photo-gallery-overlay .big-gallery-photo-1,
.photo-gallery-overlay .big-gallery-photo-2 {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: all .7s;
}

.photo-gallery-overlay .big-gallery-photo-1.big-gallery-photo-visible,
.photo-gallery-overlay .big-gallery-photo-2.big-gallery-photo-visible {
  opacity: 1;
}

@media all and (min-width: 768px) {
  .photo-gallery-overlay .big-gallery-photo-1,
  .photo-gallery-overlay .big-gallery-photo-2 {
    width: auto;
    height: 90vh;
  }
}

.photo-gallery-overlay.gallery-visible {
  display: block;
}

.gallery-section .container .flex {
  display: flex;
  flex-wrap: wrap;
}

.gallery-section .container .flex img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  cursor: zoom-in;
  margin-bottom: 5px;
  transition: all .8s;
}

.gallery-section .container .flex img:hover {
  box-shadow: 0 0 10px #414141, 0 0 5px #313131;
}

@media all and (min-width: 768px) {
  .gallery-section .container .flex {
    justify-content: space-between;
  }
  .gallery-section .container .flex img {
    width: 49.8%;
  }
}

@media all and (min-width: 992px) {
  .gallery-section .container .flex img {
    width: 33%;
  }
}

.gallery-section .container .arrow {
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  margin-bottom: 40px;
}

.gallery-section .container .arrow .arrow-link {
  display: flex;
  align-content: center;
  color: #5f5f5f;
}

.gallery-section .container .arrow .arrow-link:hover {
  color: #8f5878;
}

.gallery-section .container .arrow .arrow-link i {
  font-size: 20px;
  padding: 0 5px;
}

.gallery-section .container .arrow .arrow-link.invisible {
  opacity: 0;
  cursor: none;
}

footer {
  text-align: center;
  margin: 0;
}

footer hr {
  border-bottom: none;
  border-color: #5f5f5f;
  width: 80%;
  margin: auto;
}

footer p {
  padding: 10px 0;
  color: #5f5f5f;
}
/*# sourceMappingURL=style.css.map */