.header-1 {
    background-image: url(../img/galeria-1/galeria-3.jpg);
    background-size: cover;
    background-position: -150px 0px;
}

.header-2 {
    background-image: url(../img/galeria-2/liadine_DSC7772.jpg);
    background-position: -150px 0px;
}

.header-3 {
    background-image: url(../img/galeria-3/DSC_0901.jpg);
}

.header-4 {
    background-image: url(../img/galeria-4/_DSC8872.jpg);
    background-position: center;
}

.header-5 {
    background-image: url(../img/galeria-5/IMG_2298.jpg);
}

.autors {
    text-align: center;
    margin: 40px 0;

    span {
        font-weight: 300;
        a {
            color: black;
            transition: all .3s;

            &:hover {
                color: $primary-color;
            }
        }
    }
} 

.gallery-section {
    padding-bottom: 60px;
    .container {
        padding: 0;
        

        .img-gallery {
            height: 500px;
            margin: auto;
            width: 100%;
            object-fit: cover;
            margin-bottom: 10px;

            &.photo-1 {
                object-position: 10% 0;
            }

            &.photo-4 {
                object-position: 10% 0;
            }

            &.gallery-2-photo-2 {
                object-position: 10% 0;
            }

            &.gallery-2-photo-5 {
                object-position: -300px 0;
            }

          
        }

        .arrow {
            font-size: 14px;
           
          display: flex;
          justify-content: space-around;
  
           padding-top: 60px;
           

           .arrow-link {
               display: flex;
               align-content: center;
               color: $primary-color;
           
              
       
               
               i {
                   
                   font-size: 20px;
                   padding: 0 5px;
               }

               &.invisible {
                   opacity: 0;
                   cursor: none;
               }
           }
           
       

        }

    }
}

@media all and (min-width: 425px) {
    .header-2 {
        background-position: -50px 0px;
    }

    .gallery-section {
        .container {
    
            .img-gallery {
                
                &.gallery-2-photo-5 {
                    object-position: -200px 0;
                }
            }
        }
    }
    
}

@media all and (min-width: 458px) {
    .header-2 {
        background-position: -10px 0px;
    }
}

@media all and (min-width: 520px) {
   

    .gallery-section {
        .container {
    
            .img-gallery {
                
                &.gallery-2-photo-3 {
                    object-position: 0 -100px;
                }

                &.gallery-2-photo-4 {
                    object-position: 0 1px;
                }
            }
        }
    }

}

@media all and (min-width: 550px) {
    .header-2 {
        background-position: 0px 0px;
    }
}

@media all and (min-width: 600px) {
    .header-1 {
        background-position: 0px 0px;
    }
}

@media all and (min-width: 724px) {
    .header-2 {
        background-position: 0px -30px;
    }
}

@media all and (min-width: $medium) {
    .header-1 {
        background-position: 0 -100px;
    }

    .header-5 {
        background-position: 0 -100px;
    }

    .gallery-section {

        .container {

            .flex {
                justify-content: center;
                text-align: center;

                .img-gallery {
                    height: 500px;
                    margin: auto;
                    width: 32%;
                    object-fit: cover;
                    margin-top: 5px;
                    transition: all .8s;

                    &:hover {
                        transform: scale(1.2);
                        // z-index: 100;
                        box-shadow: 0 0 10px #414141, 0 0 5px #313131;
                    } 

                    &.gallery-2-photo-2 {
                            object-position: -100px 0;
                    }
                     
                    &.gallery-2-photo-3 {
                        object-position: 0 0;
                    }

                    &.gallery-2-photo-4 {
                        object-position: -100px 0px;
                    }

                    &.gallery-2-photo-5 {
                        object-position: -400px 0;
                    }
                }

               
            }
        }
    }
}


@media all and (min-width: 820px) {
    .header-2 {
        background-position: 0px -50px;
    }
}

@media all and (min-width: 1120px) {
    .header-2 {
        background-position: 0px -100px;
    }

    .header-5 {
        background-position: 0px -200px;
    }
}

@media all and (min-width: $extra-large) {
    .gallery-section {

        .container {

            .flex {

                .img-gallery {
                   

                  

                    &.gallery-2-photo-4 {
                        object-position: 0px 0px;
                    }

                    &.gallery-2-photo-5 {
                        object-position: -250px 0;
                    }
                }
            }
        }
    }
}