.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin: 20px 0;
    }

    p {
        color:#656A6B;
        line-height: 22px;
    }

    .skills-container {
        padding: 20px 0;
    }

    .skills {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;

        i {
            width: 80px;
            height: 80px;
            // background-color: #BB79A8;
            background-color: #C59B62;
            color: #fff;
            // color: #9D784D;
            border-radius: 50%;
            line-height: 80px;
            font-size: 32px;
            margin: 10px 10px;
        }
    }
}

@media (min-width: 950px) {
    .about {
        height: 100vh;
        .about-me {
            .container {
                width: 80%;
                align-items: center;
                .me {
                
                    width: 49%;

                    img {
                        width: 250px;
                        height: 250px;
                        margin-bottom: 50px;
                    }

                    p {
                        width: 80%;
                        margin: auto;
                    }
                }

                .skills-container {
                    width: 50%;
                }
            }

        }
    }
}


// @media (min-width: 960px {
//     .about 
// }

//  @media (min-width: 960px) {

//     .container {
//         width: 80%;
//         margin: auto;
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-between;
//         align-items: center;

//         .me {
//             width: 49%;

//             img {
//                 width: 200px;
//                 height: 200px;
//                 object-fit: cover;
//                 margin: 20px 0;
//             }

//             p {
//                 width: 80%;
//                 margin: auto;
//             }
//         }
    
//         .skills-container {
//             padding: 20px 0;
//             width: 49%;
//         }
    
//         .skills {
//             width: 80%;
//             display: flex;
//             flex-wrap: wrap;
//             justify-content: center;
//             margin: auto;
    
//             i {
//                 width: 80px;
//                 height: 80px;
//                 background-color: $main-color;
//                 color: #fff;
//                 border-radius: 50%;
//                 line-height: 80px;
//                 font-size: 32px;
//                 margin: 10px 10px;
//             }
//         }
//     }
// }

