%btn {
    font-weight: 600;
    font-family: $header-font;
    border: 3px solid $blue;
    border-radius: $border-radius;
    transition: $transition_fast;
    padding: 1rem 1.7rem;
    box-shadow: $button-shadow;
    cursor: pointer;

    &:hover {
        background-color: transparent;
    }
}

@media (min-width: $medium) {
    %btn {
        padding: 1.5rem 2.5rem;
    }
}