.main-header {
    height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: sticky;
    // top: 0;


    .background-animation {
        opacity: 1;
        overflow-x: hidden;
        height: 100vh;
        top: 0;
        width: 100%;
        position: relative;
        flex-shrink: 0;
    

        .word-1,
        .word-2 {
            position: absolute;
            color: #eaedee;
            font-size: 200px;
        }

        .word-1 {

            &.start-animation {
                animation: animation1 20s linear infinite;
            }
        }

        .word-2 {
            bottom: 30px;
            white-space: nowrap;

            &.start-animation {
                animation: animation2 20s linear infinite;
            }
        }
    }

    .header-content {
        position: absolute;
        text-align: center;
        width: 90%;

        .get-to-know {
            .your-name {
                width: 80%;
                height: 40px;
                margin: 10px auto;
                border: 1px solid #eaedee;
                text-align: center;
                font-weight: 700;

                &::placeholder {
                    color: $main-color;
                    text-align: center;
                }

                &:focus {
                    outline: 1px solid $main-color;
                }
            }
        }

        .header-text {
            margin-top: 20px;

            h1 {
                font-size: 36px;
            }

            .nice-to-see-you {
                font-size: 26px;
                opacity: 0;
                transition: all 2s;

                &.visible {
                    opacity: 1;
                }

                i {  
                    color: $main-color;
                }
            }
        }

        .fa-angle-double-down {
            position: relative;
            top: 20px;

            &.icon-animation {
                animation: see-more 1s infinite linear;
            }
        }
    }

    
}


.proba {
      height: 100vh;
      position: relative;
      z-index: 10;
      background-color: rgba(250, 235, 215, 0.781);  
}

@keyframes animation1 {
    0% {
        transform: translateX(-100%); 
        padding-left: 110%;
    }

    100% {
        transform: translateX(0); 
        padding-left: 110%;
    }
}   

@keyframes animation2 {
    0% {
        transform: translateX(0); 
        padding-left: 110%;
    }

    100% {
        transform: translateX(-100%); 
        padding-left: 110%;
    }
}

@keyframes see-more {
    0%, 100% {
        top: 20px;
    }

    50% {
        top: 30px;
    }
}





@media (min-width: 760px) {
    .main-header {  
        .header-content {
            .get-to-know {
                .your-name {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: 960px) {
    .main-content {
        .main-header {
            .header-content {
                .get-to-know {
                    .your-name {
                        width: 30%;
                    }
                }
            }
        }
    }
}