* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

.background-photo {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -10;
}

.main-container {
    /* background-color: #bbcde5; */
    text-align: center;
    height: 100vh;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 10;
    position: absolute;
    top: 0;
}

h1 {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
}

.quote-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
    left: 0;
    right: 0;
    padding: 30px 5px;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.quote-div {
    padding: 20px 10px;
    font-size: 20px;
}

.author {
    padding: 5px 100px;
    text-align: right;
}


.fa-quote-left {
    position: relative;
    left: -10px;
    top: -10px;
}

.buttons {
    padding: 20px 10px;
    width: 200px;
    margin: auto;
    position: relative;
    vertical-align: baseline;
}

.twitter {
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    left: 0;
    color: #1da1f2;
    top: 50%;
    transform: translateY(-50%);
    transition: all .5s;
}

.twitter:hover {
    transform: scale(1.2) translateY(-50%);
 
}

.next {
    padding: 5px 10px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 1);
    font-size: 20px;
    transition: all .5s;
}

.next:hover {
    transform: scale(.9);
}

hr {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 2px solid white;
    width: 50%;
    margin: auto;
}

@media (min-width: 850px) {
    h1 {
        top: 150px;
    }

    .quote-container {
        width: 50%;
    }

    .quote-div {
        padding: 20px 10px;
        font-size: 20px;
    }

    .author {
        padding: 5px 100px;
        text-align: right;
    }

    .fa-quote-left {
        position: relative;
        left: -10px;
        top: -10px;
    }

    .buttons {
        padding: 20px 10px;
        width: 200px;
        margin: auto;
        position: relative;
        vertical-align: baseline;
    }

    .twitter {
        position: absolute;
        text-decoration: none;
        font-size: 20px;
        left: 0;
        color: #1da1f2;
        top: 50%;
        transform: translateY(-50%);
        transition: all .5s;
    }

    .twitter:hover {
        transform: scale(1.2) translateY(-50%);
    }

    .next {
        padding: 5px 10px;
        font-weight: 700;
        background-color: rgba(255, 255, 255, 1);
        font-size: 18px;
        transition: all .5s;
    }

    .next:hover {
        transform: scale(.9);
    }

    hr {
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-top: 2px solid white;
        width: 50%;
        margin: auto;
    }
}
