.info {
    background-color: rgba(245, 249, 251, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .text {
        padding: 10px;
        width: 100%;
        margin: auto;
        text-align: center;

        p {
            color: $font-primary-color;
            padding: 5px 0;

            a {
                color: $links-primary-color;
                transition: all .3s;

                &:hover {
                    color: $links-secondary-color;
                }
            }

            &:last-of-type {
                color: $primary-color;
                font-weight: 700;
                font-size: 18px;
            }

            span {
                font-weight: 700;
            }
        }
    }
    
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: bottom;
        margin-bottom: 15px;
        box-shadow: 0 0 6px $shadow-color;

        &.photo-of-me {
            object-position: top;
        }
    }

   .about-me {
       margin-top: 30px;
   }  
}

@media (min-width: $medium) {

    .info {
        
        .text {
            width: 70%;
        }
    }  
}

@media (min-width: $large) {

    .info {
        h3 {
            width: 100%;
        }
        
        .part-1,
        .part-2 {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            width: 70%;
            align-items: center;
            justify-content: space-around;

            img {
                width: 300px;
                height: 300px;
                border-radius: 0;
                margin-bottom: 0;

                &.photo-of-me {
                    order: 1;
                }
            }

            .text {
                width: 50%;
                margin: 0;
            }
        }
    }  
}

@media (min-width: $extra-large) {

    .info {
        h3 {
            width: 100%;
        }
        
        .part-1,
        .part-2 {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            width: 70%;
            align-items: center;
            justify-content: space-between;

            img {
                width: 400px;
                height: 400px;
                border-radius: 0;

                &.photo-of-me {
                    order: 1;
                }
            }

            .text {
                width: 50%;
            }
        }
    }  
}