* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #1E1F20;
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #F8FBFC;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader.hidden {
  animation: fadeOut 1s forwards linear;
}

.preloader .loading {
  width: 250px;
}

.preloader .loading.start-spinning {
  animation: spin 10s infinite linear;
}

.main-content.hidden-content {
  display: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.ready {
  display: block;
  margin: auto;
  width: 100px;
  height: 40px;
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #C59B62;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  transition: all .3s;
}

.ready:focus {
  outline: #C59B62;
}

.ready:hover {
  color: white;
  background-color: #C59B62;
}

.main-header {
  height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header .background-animation {
  opacity: 1;
  overflow-x: hidden;
  height: 100vh;
  top: 0;
  width: 100%;
  position: relative;
  flex-shrink: 0;
}

.main-header .background-animation .word-1,
.main-header .background-animation .word-2 {
  position: absolute;
  color: #eaedee;
  font-size: 200px;
}

.main-header .background-animation .word-1.start-animation {
  animation: animation1 20s linear infinite;
}

.main-header .background-animation .word-2 {
  bottom: 30px;
  white-space: nowrap;
}

.main-header .background-animation .word-2.start-animation {
  animation: animation2 20s linear infinite;
}

.main-header .header-content {
  position: absolute;
  text-align: center;
  width: 90%;
}

.main-header .header-content .get-to-know .your-name {
  width: 80%;
  height: 40px;
  margin: 10px auto;
  border: 1px solid #eaedee;
  text-align: center;
  font-weight: 700;
}

.main-header .header-content .get-to-know .your-name::placeholder {
  color: #C59B62;
  text-align: center;
}

.main-header .header-content .get-to-know .your-name:focus {
  outline: 1px solid #C59B62;
}

.main-header .header-content .header-text {
  margin-top: 20px;
}

.main-header .header-content .header-text h1 {
  font-size: 36px;
}

.main-header .header-content .header-text .nice-to-see-you {
  font-size: 26px;
  opacity: 0;
  transition: all 2s;
}

.main-header .header-content .header-text .nice-to-see-you.visible {
  opacity: 1;
}

.main-header .header-content .header-text .nice-to-see-you i {
  color: #C59B62;
}

.main-header .header-content .fa-angle-double-down {
  position: relative;
  top: 20px;
}

.main-header .header-content .fa-angle-double-down.icon-animation {
  animation: see-more 1s infinite linear;
}

.proba {
  height: 100vh;
  position: relative;
  z-index: 10;
  background-color: rgba(250, 235, 215, 0.781);
}

@keyframes animation1 {
  0% {
    transform: translateX(-100%);
    padding-left: 110%;
  }
  100% {
    transform: translateX(0);
    padding-left: 110%;
  }
}

@keyframes animation2 {
  0% {
    transform: translateX(0);
    padding-left: 110%;
  }
  100% {
    transform: translateX(-100%);
    padding-left: 110%;
  }
}

@keyframes see-more {
  0%, 100% {
    top: 20px;
  }
  50% {
    top: 30px;
  }
}

@media (min-width: 760px) {
  .main-header .header-content .get-to-know .your-name {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .main-content .main-header .header-content .get-to-know .your-name {
    width: 30%;
  }
}

.letter {
  margin: -2px;
  transition: all .3s;
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 36px;
}

.letter:hover {
  color: #C59B62;
  transform: translateY(-10px);
}

.letter.break {
  margin: 5px;
}

@media (min-width: 760px) {
  .letter {
    font-size: 42px;
  }
}

@media (min-width: 960px) {
  .letter {
    font-size: 62px;
  }
}

.main-navigation #menu-button {
  color: #C59B62;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s;
  top: 10px;
  left: 10px;
  position: fixed;
  z-index: 100;
}

.main-navigation #menu-button:hover {
  color: #1E1F20;
}

.main-navigation #nav-menu {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  z-index: 20;
}

.main-navigation #nav-menu li {
  padding: 10px;
}

.main-navigation #nav-menu li a {
  color: #C59B62;
  font-size: 32px;
}

.main-navigation #nav-menu.show-menu {
  transform: translateX(0);
  background-color: #F8FBFC;
}

.about {
  height: 100vh;
  z-index: 10;
  position: relative;
  background-color: #fff;
  background-color: #F8FBFC;
  padding-top: 30px;
  text-align: center;
  background-image: url("../img/about-me-background-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.about .about-me-header {
  transform: translateX(100%);
  transition: all 1s;
  font-size: 24px;
}

.about .about-me-header.show-animation {
  transform: translateX(0);
}

.about .about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about .about-me .photo-and-author {
  transform: translateX(-900px);
  transition: all 2s;
  margin: 10px auto;
}

.about .about-me .photo-and-author.photo-and-author-animation {
  transform: translateX(0);
}

.about .about-me .photo-and-author .me {
  width: 200px;
  cursor: url("../img/pointer.svg"), auto;
}

.about .about-me .about-me-text {
  width: 90%;
  opacity: 0;
  transition: all 4s;
  background-color: #fff;
  padding: 20px 5px;
  border: 2px solid #C59B62;
  box-shadow: 0 2px 6px #DBE0E1;
}

.about .about-me .about-me-text.show-text {
  opacity: 1;
}

.about .about-me .about-me-text .skills {
  cursor: pointer;
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 10px;
  transition: all .3s;
  font-weight: 500;
  color: #C59B62;
}

.about .about-me .about-me-text .skills:hover {
  color: #1E1F20;
}

.about .skills-container {
  position: absolute;
  top: -50px;
  display: flex;
  justify-content: space-around;
  transition: all .3s;
  width: 100%;
}

.about .skills-container.show-container {
  top: 50%;
  transform: translateY(-50%);
}

.about .skills-container i {
  background-color: #C59B62;
  font-size: 24px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  position: relative;
  transition: all 2s;
}

.about .skills-container i.skills-animation {
  animation: skills 2s linear .3s;
}

.about .skills-container i.hide-skill {
  top: -800px;
}

.about .about-me-animation {
  opacity: 0;
}

@keyframes skills {
  0% {
    bottom: 0;
  }
  20% {
    bottom: 40px;
  }
  40% {
    bottom: 0;
  }
  60% {
    bottom: 20px;
  }
  80% {
    bottom: 0;
  }
  90% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

@media (min-width: 760px) {
  .about {
    display: flex;
    align-items: center;
  }
  .about h3 {
    position: absolute;
    width: 100%;
    top: 50px;
    font-size: 52px;
  }
  .about .about-me {
    justify-content: space-evenly;
    margin: 0;
    align-items: center;
  }
  .about .about-me .photo-and-author {
    margin: 0;
  }
  .about .about-me .photo-and-author .me {
    width: 250px;
  }
  .about .about-me .about-me-text {
    width: 50%;
    padding: 40px 10px;
  }
  .about .about-me .about-me-text .skills {
    margin-top: 30px;
  }
  .about .skills-container {
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    top: -80px;
  }
  .about .skills-container i {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
  .about .about-me-animation {
    position: absolute;
    opacity: 1;
    bottom: 20px;
    right: 20px;
  }
  .about .about-me-animation.about-me-animation-animation {
    animation: spin-circle 10s linear infinite;
  }
}

@keyframes spin-circle {
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 960px) {
  .about .about-me-animation {
    position: absolute;
    width: 150px;
    opacity: 1;
    bottom: 0px;
    right: 40px;
  }
  .about .about-me-animation.about-me-animation-animation {
    animation: spin-circle 10s linear infinite;
  }
}

.projects {
  background-color: #E2CDB1;
  text-align: center;
  position: relative;
  padding-top: 60px;
  height: 100vh;
}

.projects .projects-container .portfolio-item {
  margin-top: 20px;
}

.projects .projects-container .portfolio-item:first-of-type {
  margin-top: 60px;
}

.projects .projects-container .portfolio-item a {
  color: #fff;
  font-size: 18px;
  transition: all .3s;
  display: inline-block;
  transform: translateX(-50%);
  transition: transform 3s;
  position: relative;
}

.projects .projects-container .portfolio-item a.move {
  transform: translateX(0);
}

.projects .projects-container .portfolio-item a:hover {
  color: #1E1F20;
  z-index: 2;
}

.projects .projects-container .portfolio-item a:hover + .portfolio-item-photo {
  opacity: 1;
  z-index: 1;
}

.projects .projects-container .portfolio-item .portfolio-item-photo {
  width: 300px;
  border: 1px solid #C59B62;
  margin: auto;
  position: absolute;
  opacity: 0;
  transition: all .5s;
  top: 20%;
  right: 0;
  z-index: -1;
}

.projects .projects-container .portfolio-item .portfolio-item-photo img {
  width: 100%;
}

.projects .projects-container .portfolio-item .portfolio-item-photo .used-languages i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #C59B62;
  background-color: rgba(255, 255, 255, 0.8);
  color: #C59B62;
}

@media (min-width: 960px) {
  .projects .projects-container .portfolio-item {
    margin-top: 50px;
  }
  .projects .projects-container .portfolio-item a {
    font-size: 24px;
  }
  .projects .projects-container .portfolio-item a:last-of-type {
    transform: translateX(-1400%);
  }
  .projects .projects-container .portfolio-item a.move {
    transform: translateX(0);
  }
  .projects .projects-container .portfolio-item a:hover {
    color: #1E1F20;
    z-index: 2;
  }
  .projects .projects-container .portfolio-item a:hover + .portfolio-item-photo {
    opacity: 1;
    z-index: 1;
  }
  .projects .projects-container .portfolio-item .portfolio-item-photo {
    width: 500px;
    border: 1px solid #C59B62;
    margin: auto;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: all .5s;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .projects .projects-container .portfolio-item .portfolio-item-photo img {
    width: 100%;
  }
  .projects .projects-container .portfolio-item .portfolio-item-photo .used-languages i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #C59B62;
    background-color: rgba(255, 255, 255, 0.8);
    color: #C59B62;
  }
}
/*# sourceMappingURL=style.css.map */