.photo-gallery-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    position: fixed;
    z-index: 100000;
    top: 0;

    .gallery-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color:rgb(224, 224, 224);
    }

    .flex {
        @include flexbox;
        justify-content: space-around;
        align-items: center;
        width: auto;
        height: auto; 
        
        i {
            color: rgb(224, 224, 224);
            font-size: 30px;
        }  

        .arrow-invisible {
            opacity: 0;
            cursor: none;
        }

        .big-gallery-photo {
            width: 85%;
            height: 100vh;
            object-fit: cover;
        }

        @media all and (min-width: 850px) {
            .big-gallery-photo {
                width: 70%;
                height: 100vh;
                object-fit: cover;
            }
        }

        @media all and (min-width: 1000px) {
            .big-gallery-photo {
                width: 50%;
                height: 100vh;
                object-fit: cover;
            }
        }

        @media all and (min-width: $extra-large) {
            .big-gallery-photo {
                width: 33%;
                height: 100vh;
                object-fit: cover;
            }
        }
    }

    &.gallery-visible {
        display: block;
    }
}

.gallery-section {
    .container {
        .flex {
            @include flexbox;

            img {
                height: 500px;
                width: 100%;
                object-fit: cover;
                object-position: top;
                cursor: zoom-in;
                margin-bottom: 5px;
                transition: all .8s;

                &:hover {
                    box-shadow: 0 0 10px #414141, 0 0 5px #313131;
                } 
            }
        }

        @media all and (min-width: $medium) {
            .flex {
                justify-content: space-between;
                img {
                    width: 49.8%;
                }
            }
        }

        @media all and (min-width: $large) {
            .flex {
                img {
                    width: 33%;
                }
            }
        }

        .arrow {
            font-size: 14px;
            display: flex;
            justify-content: space-around;
            padding-top: 60px;
            margin-bottom: 40px;

           .arrow-link {
               display: flex;
               align-content: center;
               color: $primary-color;
           
               &:hover {
                color: $secondary-color;
                }
       
               
                i {
                    font-size: 20px;
                    padding: 0 5px;
                }      
                
                &.invisible {
                    opacity: 0;
                    cursor: none;
                }   
            }
        } 
    }
}