.ready, .send, .see-website {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .3s;
}

.ready:hover, .send:hover, .see-website:hover {
  background-color: #C59B62;
  border-color: #C59B62;
  color: #fff;
}

.ready {
  background-color: #D0E6EB;
  border: 1px solid #D0E6EB;
  color: #00586B;
}

.send {
  background-color: #D0E6EB;
  border: 1px solid #D0E6EB;
  color: #00586B;
  width: 150px;
  margin: auto;
  margin-bottom: 20px;
}

.see-website {
  background-color: #D0E6EB;
  border: 1px solid #D0E6EB;
  color: #00586B;
  padding: 15px 20px;
  margin: auto;
}

form {
  position: absolute;
  top: 150px;
  padding: 30px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  margin: auto;
  color: #0396B7;
}

form label {
  margin: 20px 0 0 50px;
}

form h4 {
  margin-bottom: 20px;
  text-align: center;
}

form textarea {
  height: 100px;
}

@media (min-width: 760px) {
  form label {
    margin-left: 80px;
  }
}

@media (min-width: 960px) {
  form {
    width: 50%;
    left: auto;
  }
  form textarea {
    height: 200px;
  }
}

input,
textarea {
  width: 80%;
  height: 40px;
  margin: 10px 0;
  color: #C59B62;
  font-weight: 700;
  text-align: center;
  border: #52B0C5;
  border-radius: 5px;
  align-self: center;
}

input:focus,
textarea:focus {
  outline: 1px solid #C59B62;
}

input::placeholder,
textarea::placeholder {
  color: #7DB4C0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.tag-name {
  font-family: 'Source Code Pro', monospace;
}

section {
  padding: 60px 0;
  text-align: center;
}

section h2 {
  color: #0396B7;
  margin: 10px 0;
}

.main-content .main-header {
  width: 100%;
  height: 100vh;
  background-color: #1E1F20;
  color: #fff;
  position: relative;
}

.main-content .main-header .get-to-know {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0396B7;
  padding: 30px 0;
}

.main-content .main-header .custom-shape-divider-bottom-1610643299 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.main-content .main-header .custom-shape-divider-bottom-1610643299 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.main-content .main-header .custom-shape-divider-bottom-1610643299 .shape-fill {
  fill: #fff;
}

.main-content .main-header .header-content {
  padding: 10px 30px;
}

.main-content .main-header .header-content .tag-name {
  color: #4e4a43;
}

.main-content .main-header .header-content h1, .main-content .main-header .header-content h2 {
  padding-left: 20px;
}

.main-content .main-header .header-content .fa-smile-beam {
  animation: happy 1s infinite;
  position: relative;
}

.main-content .main-header .header-content .nice-to-see-you {
  transition: all .5s;
  opacity: 0;
}

.main-content .main-header .header-content .nice-to-see-you.nice-to-see-you-visible {
  opacity: 1;
}

@keyframes happy {
  0%, 100% {
    bottom: -1px;
  }
  50% {
    bottom: 15px;
  }
}

@media (min-width: 760px) {
  .main-content .main-header .header-content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .main-content .main-header .header-content .header-content-container h1 {
    font-size: 62px;
  }
  .main-content .main-header .header-content .header-content-container h2 {
    font-size: 32px;
  }
  .main-content .main-header .custom-shape-divider-bottom-1610643299 .shape-fill {
    fill: #C59B62;
  }
  .main-content .main-header .get-to-know #guest-name {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .main-content .main-header .get-to-know #guest-name {
    width: 30%;
  }
}

.main-navigation {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.main-navigation .menu-button {
  width: 80px;
  height: 80px;
  background-color: #C59B62;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.main-navigation .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  cursor: none;
  transition: all .3s;
}

.main-navigation .nav-menu.nav-visible {
  opacity: 1;
  cursor: pointer;
}

.main-navigation .nav-menu .circle {
  display: inline-block;
  background-color: #C59B62;
  width: 0px;
  height: 0px;
  margin-top: 10px;
  border-radius: 50%;
  line-height: 60px;
  font-size: 12px;
  text-align: center;
  transition: all 1s;
  opacity: 1;
  list-style-type: none;
}

.main-navigation .nav-menu .circle.visible-menu-item {
  width: 60px;
  height: 60px;
  opacity: 1;
}

.main-navigation .nav-menu .circle a {
  color: #fff;
  font-weight: 700;
  font-size: 0px;
  opacity: 0;
  transition: font-size 2s;
}

.main-navigation .nav-menu .circle a.visible-a {
  font-size: 12px;
  opacity: 1;
}

@media (min-width: 760px) {
  .main-navigation {
    position: sticky;
    top: 0px;
    background-color: #C59B62;
    box-shadow: 0 2px 4px -2px #797979;
    width: 100%;
  }
  .main-navigation .menu-button {
    display: none;
  }
  .main-navigation .nav-menu {
    display: inline;
  }
  .main-navigation .nav-menu .circle {
    display: inline;
    background-color: transparent;
    border-radius: 0;
    font-size: 18px;
    margin-left: 20px;
  }
  .main-navigation .nav-menu .circle a {
    font-size: 14px;
    transition: all .5s;
    padding: 10px;
    opacity: 1;
  }
  .main-navigation .nav-menu .circle a:hover {
    color: #1E1F20;
  }
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 20px 0;
}

.container p {
  color: #656A6B;
  line-height: 22px;
}

.container .skills-container {
  padding: 20px 0;
}

.container .skills {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container .skills i {
  width: 80px;
  height: 80px;
  background-color: #C59B62;
  color: #fff;
  border-radius: 50%;
  line-height: 80px;
  font-size: 32px;
  margin: 10px 10px;
}

@media (min-width: 950px) {
  .about {
    height: 100vh;
  }
  .about .about-me .container {
    width: 80%;
    align-items: center;
  }
  .about .about-me .container .me {
    width: 49%;
  }
  .about .about-me .container .me img {
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
  }
  .about .about-me .container .me p {
    width: 80%;
    margin: auto;
  }
  .about .about-me .container .skills-container {
    width: 50%;
  }
}

.projects {
  background-color: #0396B7;
  color: #fff;
  position: relative;
}

.projects .custom-shape-divider-top-1610702145 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.projects .custom-shape-divider-top-1610702145 svg {
  position: relative;
  display: block;
  width: calc(218% + 1.3px);
  height: 40px;
}

.projects .custom-shape-divider-top-1610702145 .shape-fill {
  fill: #FFFFFF;
}

.projects h2 {
  color: #fff;
  margin: 20px 0;
}

.projects .projects-container {
  display: flex;
  flex-wrap: wrap;
}

.projects .projects-container .portfolio-item {
  width: 100%;
  border-radius: 20px;
  padding: 20px 0;
  position: relative;
  border: 2px solid #D0E6EB;
  box-shadow: 0 0 6px #027691;
  overflow: hidden;
  margin: 10px 0;
}

.projects .projects-container .portfolio-item img {
  width: 370px;
}

.projects .projects-container .portfolio-item i {
  background-color: #D0E6EB;
  font-size: 20px;
  color: #00586B;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  margin: 10px 0;
}

.projects .projects-container .portfolio-item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(208, 230, 235, 0.5);
  top: 0;
  opacity: 0;
  transition: all .5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects .projects-container .portfolio-item .overlay:hover {
  opacity: 1;
}

@keyframes scale-image {
  100% {
    transform: scale(1.1);
    object-position: top;
  }
}

@media (min-width: 760px) {
  .projects h2 {
    font-size: 36px;
  }
  .projects .projects-container {
    width: 80%;
    margin: auto;
  }
  .projects .projects-container .portfolio-item {
    width: 100%;
  }
  .projects .projects-container .portfolio-item img {
    width: 500px;
  }
}

@media (min-width: 960px) {
  .projects .projects-container {
    width: 50%;
  }
  .projects .projects-container .portfolio-item img {
    width: 550px;
  }
}

@media (min-width: 1200px) {
  .projects .projects-container .portfolio-item img {
    width: 700px;
  }
}

footer {
  background-color: #1E1F20;
  height: 800px;
  position: relative;
}

footer p {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  color: #DBE0E1;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
}

footer .custom-shape-divider-top-1610644080 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

footer .custom-shape-divider-top-1610644080 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

footer .custom-shape-divider-top-1610644080 .shape-fill {
  fill: #0396B7;
}

footer .social-media {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 20px;
  padding: 10px 0;
}

footer .social-media .fab {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #DBE0E1;
  color: #1E1F20;
  transition: all .3s;
}

footer .social-media .fab:hover {
  background-color: #C59B62;
}

footer .social-media a {
  margin-left: 20px;
}

footer .social-media a:first-of-type {
  margin-left: 0;
}

@media (min-width: 960px) {
  footer .social-media {
    width: 50%;
    display: flex;
    flex-direction: column;
    top: 0;
    align-content: center;
    justify-content: center;
  }
  footer .social-media .fab {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  footer .social-media a {
    margin-left: 0px;
    margin-bottom: 20px;
  }
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #C59B62;
  z-index: 200000;
  overflow: hidden;
}

.preloader.hidden {
  animation: fadeOut 1s forwards linear;
}

.preloader .circle-holder {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: preloaderSpin 5s infinite linear;
}

.preloader .circle-holder .preloader-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  position: relative;
}

.preloader .circle-holder .preloader-circle.preloader-circle-2 {
  width: 150px;
  height: 150px;
}

.preloader .circle-holder .preloader-circle.preloader-circle-3 {
  width: 180px;
  height: 180px;
}

.main-content.hidden-content {
  display: none;
}

@keyframes preloaderSpin {
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*# sourceMappingURL=style.css.map */