* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.tag-name {
  font-family: 'Source Code Pro', monospace;
}

section {
  padding: 60px 0;
  text-align: center;
}

section h2 {
  color: #6b2a5d;
  margin: 10px 0;
}

.main-content .main-header {
  width: 100%;
  height: 100vh;
  background-color: #6b2a5d;
  color: white;
}

.main-content .main-header .header-content {
  padding: 100px 30px;
}

.main-content .main-header .header-content .tag-name {
  color: #7a5b74;
}

.main-content .main-header .header-content h1, .main-content .main-header .header-content h2 {
  padding-left: 20px;
}

.main-content .main-header .header-content .fa-smile-beam {
  animation: happy 1s infinite;
  position: relative;
}

.main-content .main-header .menu-items {
  display: none;
}

.main-content .main-header .header-menu {
  display: none;
}

@keyframes happy {
  0%, 100% {
    bottom: -1px;
  }
  50% {
    bottom: 15px;
  }
}

@media (min-width: 960px) {
  .main-content .main-header {
    width: 100%;
    height: 100vh;
    background-color: #6b2a5d;
    color: white;
  }
  .main-content .main-header .header-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
  }
  .main-content .main-header .header-content h1 {
    font-size: 72px;
  }
  .main-content .main-header .header-content h2 {
    font-size: 42px;
  }
  .main-content .main-header .header-menu {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 280px;
    height: 250px;
    animation: spin 10s infinite linear;
  }
  .main-content .main-header .header-menu .header-nav-menu {
    list-style-type: none;
  }
  .main-content .main-header .header-menu .header-circle {
    display: inline-block;
    background-color: #be9eb8;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    font-weight: 700;
    transition: all 1s;
  }
  .main-content .main-header .header-menu .header-circle:hover {
    color: #6b2a5d;
    transform: scale(1.2);
  }
  .main-content .main-header .header-menu .header-circle.header-circle2 {
    width: 150px;
    height: 150px;
    position: relative;
    right: -10px;
    top: 25px;
    line-height: 150px;
  }
  .main-content .main-header .header-menu .header-circle.header-circle3 {
    width: 120px;
    height: 120px;
    line-height: 120px;
    position: relative;
    left: 10px;
  }
  .main-content .main-header .header-menu .header-circle a {
    color: #007dc5;
  }
  @keyframes spin {
    100% {
      transform: translateY(-50%) rotate(360deg);
    }
  }
}

.main-navigation {
  position: fixed;
  top: 10px;
  right: 10px;
}

.main-navigation .menu-button {
  width: 80px;
  height: 80px;
  background-color: #be9eb8;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  font-weight: 700;
  color: #007dc5;
  cursor: pointer;
}

.main-navigation .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  cursor: none;
  transition: all .3s;
}

.main-navigation .nav-menu.nav-visible {
  opacity: 1;
  cursor: pointer;
}

.main-navigation .nav-menu .circle {
  display: inline-block;
  background-color: #be9eb8;
  width: 0px;
  height: 0px;
  margin-top: 10px;
  border-radius: 50%;
  line-height: 60px;
  font-size: 12px;
  text-align: center;
  color: #007dc5;
  transition: all 1s;
  opacity: 0;
  list-style-type: none;
}

.main-navigation .nav-menu .circle.visible-menu-item {
  width: 60px;
  height: 60px;
  opacity: 1;
}

.main-navigation .nav-menu .circle a {
  color: #007dc5;
  font-weight: 700;
}

@media (min-width: 760px) {
  .main-navigation {
    position: sticky;
    top: 0px;
    background-color: #9e6291;
    box-shadow: 0 2px 6px #797979;
    width: 100%;
  }
  .main-navigation .menu-button {
    display: none;
  }
  .main-navigation .nav-menu {
    display: inline;
    align-items: center;
    opacity: 1;
    cursor: pointer;
    transition: all .3s;
  }
  .main-navigation .nav-menu.nav-visible {
    opacity: 1;
    cursor: pointer;
  }
  .main-navigation .nav-menu .circle {
    display: inline;
    background-color: transparent;
    border-radius: 0;
    font-size: 18px;
    color: #fff;
    transition: all 1s;
    opacity: 1;
    margin-left: 20px;
    font-weight: 700px;
    display: inline;
  }
  .main-navigation .nav-menu .circle a {
    color: #6b2a5d;
  }
  .main-navigation .nav-menu .circle:hover {
    font-size: 20px;
  }
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 20px 0;
}

.container p {
  color: #9e6291;
}

.container .skills-container {
  padding: 20px 0;
}

.container .skills {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container .skills i {
  width: 80px;
  height: 80px;
  background-color: #6b2a5d;
  color: #fff;
  border-radius: 50%;
  line-height: 80px;
  font-size: 32px;
  margin: 10px 10px;
}

@media (min-width: 960px) {
  .container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .container .me {
    width: 49%;
  }
  .container .me img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px 0;
  }
  .container .me p {
    width: 80%;
    margin: auto;
  }
  .container .skills-container {
    padding: 20px 0;
    width: 49%;
  }
  .container .skills {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  .container .skills i {
    width: 80px;
    height: 80px;
    background-color: #6b2a5d;
    color: #fff;
    border-radius: 50%;
    line-height: 80px;
    font-size: 32px;
    margin: 10px 10px;
  }
}

.projects {
  background-color: #6b2a5d;
  color: #fff;
}

.projects h2 {
  color: #fff;
  margin: 20px 0;
}

.projects .projects-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.projects .projects-container a {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.979);
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  color: #185f6b;
  border: 1px solid  #be9eb8;
  transition: all .5s;
}

.projects .projects-container a img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.projects .projects-container a i {
  background-color: #be9eb8;
  font-size: 20px;
  color: #007dc5;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  margin: 10px 0;
}

.projects .projects-container a:hover {
  color: #6b2a5d;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 760px) {
  .projects .projects-container {
    justify-content: center;
  }
  .projects .projects-container a {
    width: 49%;
    margin: 0;
  }
}

@media (min-width: 960px) {
  .projects .projects-container {
    justify-content: center;
  }
  .projects .projects-container a {
    width: 33%;
    margin: 0;
  }
}

footer {
  text-align: center;
  color: #6b2a5d;
  padding: 30px 0;
  font-weight: 700;
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #6b2a5d;
  z-index: 200000;
  overflow: hidden;
}

.preloader.hidden {
  animation: fadeOut 1s forwards linear;
}

.preloader .circle-holder {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: preloaderSpin 5s infinite linear;
}

.preloader .circle-holder .preloader-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  position: relative;
}

.preloader .circle-holder .preloader-circle.preloader-circle-2 {
  width: 150px;
  height: 150px;
}

.preloader .circle-holder .preloader-circle.preloader-circle-3 {
  width: 180px;
  height: 180px;
}

.main-content.hidden-content {
  display: none;
}

@keyframes preloaderSpin {
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*# sourceMappingURL=style.css.map */