* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

header {
  height: auto;
  max-height: 120vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  font-family: 'Oswald', sans-serif;
}

header .ethic-dress-holder {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

header .ethic-dress-holder .ethnic-dress.chosen {
  font-weight: 400;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

header .main-image {
  width: 100%;
  height: auto;
  position: relative;
  transform: translateY(-5%);
}

header .lights {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

header .octopus1 {
  position: absolute;
  width: 40%;
  top: 7%;
  left: -40%;
  transform-origin: center;
}

header .octopus1-animation {
  animation: octopus-animation linear infinite 50s, octopus1-spin linear infinite 5s;
}

header .octopus2 {
  position: absolute;
  width: 30%;
  top: 5%;
  right: 10%;
  transform-origin: center;
  animation: octopus2-animation linear infinite 5s, octopus2-spin linear infinite 5s;
}

header .octopus2-animation {
  animation: octopus2-animation linear infinite 5s, octopus2-spin linear infinite 5s;
}

@keyframes octopus1-spin {
  0%, 100% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(0.5deg);
  }
  66% {
    transform: rotate(-0.5deg);
  }
}

@keyframes octopus2-spin {
  0%, 100% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(3deg);
  }
  66% {
    transform: rotate(-3deg);
  }
}

@keyframes octopus-animation {
  0% {
  }
  100% {
    left: 100%;
  }
}

@keyframes octopus2-animation {
  0% {
    top: 5%;
    right: 10%;
  }
  25% {
    top: 4%;
    right: 10%;
  }
  50% {
    top: 4%;
    right: 9%;
  }
  75% {
    top: 5%;
    right: 9%;
  }
  100% {
    top: 5%;
    right: 10%;
  }
}

header .arrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  border-radius: 2px;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

header .arrow-animation {
  animation: arrow-animation 3s linear infinite;
}

@keyframes arrow-animation {
  0%, 100% {
    bottom: 5%;
  }
  50% {
    bottom: 2%;
  }
}

@media (max-width: 800px) {
  header {
    height: 50vh;
    max-height: unset;
  }
  header .ethic-dress-holder {
    top: 30%;
  }
  header .main-image {
    width: 100vw;
    height: auto;
    position: relative;
    top: 15vh;
  }
  header .lights {
    top: 15vh;
  }
  header .octopus1 {
    top: 15vh;
  }
  header .octopus2 {
    top: 13vh;
  }
  @keyframes octopus2-animation {
    0% {
      top: 14vh;
      right: 10%;
    }
    25% {
      top: 13.5vh;
      right: 10%;
    }
    50% {
      top: 13.5vh;
      right: 9%;
    }
    75% {
      top: 14vh;
      right: 9%;
    }
    100% {
      top: 14vh;
      right: 10%;
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  height: 12vh;
  width: 100%;
  width: 100vw;
  z-index: 10;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav .chosen {
  font-weight: 400;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.nav .hamburger {
  position: absolute;
  height: 45%;
  display: none;
}

.nav .logo-icon {
  margin-left: 1%;
}

.nav .logo-icon .author-name {
  font-size: 1.8rem;
  font-family: 'Metamorphous', cursive;
}

.nav .nav-details {
  margin: 0 10% 0 1%;
  display: flex;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.nav .nav-details .left-side ul {
  display: flex;
}

.nav .nav-details .left-side-element {
  white-space: nowrap;
}

.nav .nav-details .left-side-element a {
  transition: .5s;
}

.nav .nav-details .left-side-element a:hover {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.nav .nav-details .left-side-element-center {
  margin: 0 10%;
}

.nav .nav-details .right-side ul {
  display: flex;
  margin-right: 5%;
}

.nav .nav-details .right-side ul a {
  transition: .5s;
}

.nav .nav-details .right-side ul a:hover {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.nav .nav-details .right-side ul .resume {
  margin: 0 20%;
}

@media (max-width: 800px) {
  .nav {
    height: 15vh;
    width: 100vw;
  }
  .nav .hamburger {
    display: block;
  }
  .nav .logo-icon {
    margin-left: 0;
    text-align: center;
  }
  .nav .nav-details {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .nav .nav-details .left-side ul {
    display: flex;
  }
  .nav .nav-details .left-side-element {
    white-space: nowrap;
  }
  .nav .nav-details .left-side-element-center {
    margin: 0 10%;
  }
  .nav .nav-details .right-side {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 0vh;
    top: 14.5vh;
    left: 0;
    transition: .2s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 10px -8px grey;
  }
  .nav .nav-details .right-side.show {
    height: 50vh;
  }
  .nav .nav-details .right-side ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin-right: unset;
    align-items: center;
    justify-content: space-between;
  }
  .nav .nav-details .right-side ul li {
    font-size: 2rem;
  }
}

#fashion-section {
  padding: 5% 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  position: relative;
}

#fashion-section .options-macrame {
  display: flex;
  position: relative;
  width: 80%;
  font-size: 1.2rem;
  left: 50%;
  transform: translate(-50%);
  display: none;
  justify-content: space-around;
  font-weight: 300;
}

#fashion-section .fashion-see-more {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
  background: #EBEBEB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 75px;
  height: 37px;
  outline: none;
  border: none;
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  transition: .5s;
}

#fashion-section .fashion-see-more:hover {
  background-color: #fff;
  border: 1px solid black;
}

#fashion-section .options-holder {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 20%;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.2rem;
  margin-top: 2%;
  font-weight: 300;
}

#fashion-section .options-holder .macrame-button {
  cursor: pointer;
}

#fashion-section .options-holder .ethnic-button {
  cursor: pointer;
}

#fashion-section .options-holder .chosen {
  font-weight: 400;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

#fashion-section .macrame {
  position: absolute;
  display: flex;
  text-align: left;
  font-weight: 300;
  left: 50%;
  transform: translate(-50%);
  width: 65%;
  justify-content: space-between;
  margin-top: 2%;
}

#fashion-section .macrame .inspiration-holder {
  height: 55vh;
}

#fashion-section .macrame .inspiration-holder .inspiration-img {
  height: 100%;
  filter: grayscale(100%);
  transition: .5s;
}

#fashion-section .macrame .inspiration-holder .inspiration-img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

#fashion-section .macrame .sketches-holder {
  height: 55vh;
}

#fashion-section .macrame .sketches-holder .sketch-img {
  height: 100%;
  filter: grayscale(100%);
  transition: .5s;
}

#fashion-section .macrame .sketches-holder .sketch-img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

#fashion-section .macrame .final-holder {
  height: 55vh;
}

#fashion-section .macrame .final-holder .final-img {
  height: 100%;
  filter: grayscale(100%);
  transition: .5s;
}

#fashion-section .macrame .final-holder .final-img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

#fashion-section .ethnic {
  display: none;
  position: absolute;
  text-align: left;
  font-weight: 300;
  left: 50%;
  transform: translate(-50%);
  width: 65%;
  justify-content: space-between;
  margin-top: 2%;
}

#fashion-section .ethnic .inspiration-holder {
  height: 55vh;
}

#fashion-section .ethnic .inspiration-holder .inspiration-img {
  height: 100%;
  filter: grayscale(100%);
  transition: .5s;
}

#fashion-section .ethnic .inspiration-holder .inspiration-img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

#fashion-section .ethnic .sketches-holder {
  height: 55vh;
}

#fashion-section .ethnic .sketches-holder .sketch-img {
  height: 100%;
  filter: grayscale(100%);
  transition: .5s;
}

#fashion-section .ethnic .sketches-holder .sketch-img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

#fashion-section .ethnic .final-holder {
  height: 55vh;
}

#fashion-section .ethnic .final-holder .final-img {
  height: 100%;
  filter: grayscale(100%);
  transition: .5s;
}

#fashion-section .ethnic .final-holder .final-img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

@media (max-width: 800px) {
  #fashion-section {
    height: 90vh;
  }
  #fashion-section .fashion-see-more {
    bottom: 4%;
  }
  #fashion-section .options-macrame {
    display: flex;
    margin-top: 5px;
  }
  #fashion-section .options-macrame .shown2 {
    font-weight: 400;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  }
  #fashion-section .options-holder {
    width: 60%;
  }
  #fashion-section .macrame {
    position: absolute;
    display: flex;
    text-align: left;
    font-weight: 300;
    left: 50%;
    transform: translate(-50%);
    width: 65%;
    justify-content: space-between;
    margin-top: 2%;
  }
  #fashion-section .macrame .inspiration-holder {
    height: 55vh;
  }
  #fashion-section .macrame .inspiration-holder .inspiration-img {
    height: 100%;
  }
  #fashion-section .macrame .inspiration-holder p {
    display: none;
  }
  #fashion-section .macrame .sketches-holder {
    height: 55vh;
    display: none;
  }
  #fashion-section .macrame .sketches-holder .sketch-img {
    height: 100%;
  }
  #fashion-section .macrame .sketches-holder p {
    display: none;
  }
  #fashion-section .macrame .final-holder {
    height: 55vh;
    display: none;
  }
  #fashion-section .macrame .final-holder .final-img {
    height: 100%;
  }
  #fashion-section .macrame .final-holder p {
    display: none;
  }
  #fashion-section .ethnic {
    display: none;
    position: absolute;
    text-align: left;
    font-weight: 300;
    left: 50%;
    transform: translate(-50%);
    width: 65%;
    justify-content: space-between;
    margin-top: 2%;
  }
  #fashion-section .ethnic .inspiration-holder {
    height: 55vh;
    display: none;
  }
  #fashion-section .ethnic .inspiration-holder .inspiration-img {
    height: 100%;
  }
  #fashion-section .ethnic .inspiration-holder p {
    display: none;
  }
  #fashion-section .ethnic .sketches-holder {
    height: 55vh;
    display: none;
  }
  #fashion-section .ethnic .sketches-holder .sketch-img {
    height: 100%;
  }
  #fashion-section .ethnic .sketches-holder p {
    display: none;
  }
  #fashion-section .ethnic .final-holder {
    height: 55vh;
    display: none;
  }
  #fashion-section .ethnic .final-holder .final-img {
    height: 100%;
  }
  #fashion-section .ethnic .final-holder p {
    display: none;
  }
}

#ui-section {
  padding: 3% 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 2%;
}

#ui-section .projects-holder {
  display: flex;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  margin-top: 2%;
  justify-content: space-around;
}

#ui-section .projects-holder p {
  font-weight: 300;
  font-size: 24px;
}

#ui-section .projects-holder p span {
  font-size: 16px;
}

#ui-section .projects-holder .the-conclusion {
  width: 40%;
  text-align: left;
  position: relative;
}

#ui-section .projects-holder .the-conclusion .the_conclusion_img {
  width: 100%;
}

#ui-section .projects-holder .ebullience {
  width: 40%;
  text-align: left;
  position: relative;
}

#ui-section .projects-holder .ebullience .ebullience-img {
  width: 100%;
}

@media (max-width: 800px) {
  #ui-section .projects-holder {
    display: flex;
    flex-direction: column;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    margin-top: 2%;
    justify-content: space-around;
  }
  #ui-section .projects-holder p {
    font-weight: 300;
    font-size: 24px;
  }
  #ui-section .projects-holder p span {
    font-size: 16px;
  }
  #ui-section .projects-holder .the-conclusion {
    width: 100%;
    text-align: left;
    position: relative;
    text-align: center;
  }
  #ui-section .projects-holder .the-conclusion p {
    font-size: 3rem;
  }
  #ui-section .projects-holder .the-conclusion p a {
    display: block;
    margin-top: 10%;
  }
  #ui-section .projects-holder .the-conclusion p a span {
    display: block;
    position: relative;
    transform: translateY(-50%);
  }
  #ui-section .projects-holder .the-conclusion p a span::before {
    content: "\A";
    white-space: pre;
  }
  #ui-section .projects-holder .the-conclusion .the_conclusion_img {
    width: 100%;
  }
  #ui-section .projects-holder .ebullience {
    width: 100%;
    text-align: left;
    position: relative;
    text-align: center;
  }
  #ui-section .projects-holder .ebullience p {
    font-size: 3rem;
  }
  #ui-section .projects-holder .ebullience p a {
    display: block;
    margin-top: 10%;
  }
  #ui-section .projects-holder .ebullience p a span {
    display: block;
    position: relative;
    transform: translateY(-50%);
  }
  #ui-section .projects-holder .ebullience p a span::before {
    content: "\A";
    white-space: pre;
  }
  #ui-section .projects-holder .ebullience .ebullience-img {
    width: 100%;
  }
}

#drwings {
  padding: 5% 0 50% 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  position: relative;
  width: 100%;
  box-shadow: 0 4px 6px -2px #8E8E8E;
}

#drwings .fashion-see-more {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
  background: #EBEBEB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 75px;
  height: 37px;
  outline: none;
  border: none;
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  margin: 2% 0 5% 0;
  transition: .5s;
}

#drwings .fashion-see-more:hover {
  background-color: #fff;
  border: 1px solid black;
}

#drwings p {
  font-weight: 300;
  margin-top: 1%;
}

#drwings .projects-holder {
  position: relative;
  width: 90%;
  left: 50%;
  height: 65vh;
  transform: translate(-50%);
  margin-top: 1%;
}

#drwings .projects-holder img {
  height: 100%;
  position: absolute;
}

#drwings .projects-holder img.drawing3 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  z-index: 4;
}

#drwings .projects-holder img.drawing4 {
  left: 65%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  z-index: 3;
  height: 80%;
}

#drwings .projects-holder img.drawing5 {
  left: 82%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  z-index: 2;
  height: 60%;
}

#drwings .projects-holder img.drawing2 {
  left: 35%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  z-index: 3;
  height: 80%;
}

#drwings .projects-holder img.drawing1 {
  left: 18%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  z-index: 2;
  height: 60%;
}

@media (max-width: 800px) {
  #drwings {
    height: 80vh;
  }
  #drwings .fashion-see-more {
    bottom: 5%;
  }
  #drwings .projects-holder {
    height: 40vh;
    margin-top: 10%;
  }
}

footer {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 1% 0;
  width: 100%;
  z-index: 10;
  position: relative;
}

footer .icons-footer-holder {
  display: flex;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: .5% 0;
}

footer .icons-footer-holder a {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
}

footer .icons-footer-holder img {
  height: 100%;
}

footer .email {
  font-weight: 300;
  font-size: 16px;
}

#contact-section {
  position: relative;
  width: 100%;
  height: 85vh;
  font-family: 'Oswald', sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#contact-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  top: 50%;
  position: absolute;
  width: 60%;
  left: 50%;
  transform: translate(-50%, -45%);
}

#contact-section .content a {
  display: block;
  align-items: baseline;
  position: relative;
}

#contact-section .content a span {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
}

#contact-section .content p a {
  display: inline;
}

#contact-section .content img {
  margin-top: 10px;
}

@media (min-width: 800px) {
  #contact-section {
    height: 82vh;
  }
  #contact-section .content {
    transform: translate(-50%, -65%);
  }
  #contact-section .content a {
    display: block;
    align-items: baseline;
    position: relative;
  }
  #contact-section .content a span {
    left: 5%;
  }
}

#illustrations-section {
  width: 100%;
  position: relative;
  padding-top: 30%;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  box-shadow: 0 4px 6px -2px #8e8e8e;
}

#illustrations-section .drawings-holder {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 5%;
}

#illustrations-section .drawings-holder img {
  width: 100%;
  transition: .5s;
}

#illustrations-section .drawings-holder img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px #2c2c2c;
}

@media (min-width: 800px) {
  #illustrations-section {
    padding-top: 10%;
  }
  #illustrations-section .drawings-holder {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  #illustrations-section .drawings-holder img {
    margin-bottom: 15px;
  }
  #illustrations-section .drawings-holder .left-side {
    width: 45%;
  }
  #illustrations-section .drawings-holder .right-side {
    width: 49%;
  }
}

#ethnic-section {
  font-family: 'Oswald', sans-serif;
  padding: 5% 0% 2% 0%;
}

#ethnic-section .ethin-dress {
  width: 80%;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

#ethnic-section .ethin-dress a {
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

#ethnic-section .drawings-holder {
  display: flex;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 5% 0%;
}

#ethnic-section .drawings-holder .left-side {
  display: none;
}

#ethnic-section .drawings-holder img {
  width: 100%;
  transition: .5s;
}

#ethnic-section .drawings-holder img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px #2c2c2c;
}

#inspirations {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2% 0%;
}

#inspirations p {
  margin-left: 2.5%;
  font-size: 1.2rem;
}

#inspirations p span {
  display: none;
  font-size: 1rem;
  font-weight: 300;
}

#inspirations .ethnic-inspirations-photos-holder {
  display: flex;
  width: 95%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: unset;
  padding: 2% 0;
  align-items: center;
}

#inspirations .ethnic-inspirations-photos-holder img {
  width: 45%;
  transition: .5s;
}

#inspirations .ethnic-inspirations-photos-holder img.ethnic-big {
  z-index: 30;
}

#inspirations .ethnic-inspirations-photos-holder img.ethnic-big2 {
  z-index: 20;
  position: absolute;
  transform: translate(50%);
  width: 43%;
  left: 0;
}

#inspirations .ethnic-inspirations-photos-holder img.ethnic-big3 {
  z-index: 10;
  position: absolute;
  transform: translate(150%);
  width: 31%;
  left: 0;
}

#inspirations .ethnic-inspirations-photos-holder img.ethnic-big4 {
  z-index: 5;
  position: absolute;
  transform: translate(320%);
  width: 21%;
  left: 0;
}

#inspirations .ethnic-inspirations-photos-holder img.hover-like {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
}

#sketches {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  position: relative;
  background-color: #fff;
  padding: 2% 0%;
}

#sketches p {
  margin-left: 2.5%;
  font-size: 1.2rem;
}

#sketches img {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

#textiles {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2% 0%;
  box-shadow: 0 4px 6px -2px #8e8e8e;
}

#textiles p {
  margin-left: 2.5%;
  font-size: 1.2rem;
}

#textiles .ethnic-textiles-photos-holder {
  display: flex;
  width: 95%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: unset;
  padding: 2% 0;
  align-items: center;
}

#textiles .ethnic-textiles-photos-holder img {
  width: 45%;
  transition: .5s;
}

#textiles .ethnic-textiles-photos-holder img.textile-big {
  z-index: 30;
}

#textiles .ethnic-textiles-photos-holder img.textile-big2 {
  z-index: 20;
  position: absolute;
  transform: translate(50%);
  width: 43%;
  left: 0;
}

#textiles .ethnic-textiles-photos-holder img.textile-big3 {
  z-index: 10;
  position: absolute;
  transform: translate(150%);
  width: 31%;
  left: 0;
}

#textiles .ethnic-textiles-photos-holder img.textile-big4 {
  z-index: 5;
  position: absolute;
  transform: translate(320%);
  width: 21%;
  left: 0;
}

#textiles .ethnic-textiles-photos-holder img.hover-like {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
}

@media (min-width: 800px) {
  #ethnic-section {
    padding: 5% 0% 2% 0%;
  }
  #ethnic-section .ethin-dress {
    width: 30%;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  #ethnic-section .drawings-holder {
    display: flex;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 5% 0%;
    display: flex;
    justify-content: space-evenly;
  }
  #ethnic-section .drawings-holder .left-side {
    display: block;
    width: 45%;
  }
  #ethnic-section .drawings-holder .right-side {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }
  #ethnic-section .drawings-holder .right-side img {
    width: 90%;
  }
  #inspirations p {
    margin-left: 25%;
  }
  #inspirations p span {
    display: inline;
  }
  #inspirations .ethnic-inspirations-photos-holder {
    width: 50%;
  }
  #sketches p {
    margin-left: 25%;
    font-size: 1.2rem;
  }
  #sketches img {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  #textiles p {
    margin-left: 25%;
  }
  #textiles .ethnic-textiles-photos-holder {
    width: 50%;
  }
}

.drawing-holder-macrame {
  display: flex;
  flex-direction: column;
}

.drawing-holder-macrame p {
  align-self: flex-end;
  font-weight: 300;
}

#macrame-sketches-holder {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  position: relative;
  background-color: #fff;
  padding: 2% 0%;
}

#macrame-sketches-holder p {
  margin-left: 2.5%;
  font-size: 1.2rem;
}

#macrame-sketches-holder .macrame-inspirations-photos-holder {
  display: flex;
  width: 95%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: unset;
  padding: 2% 0;
  align-items: center;
}

#macrame-sketches-holder .macrame-inspirations-photos-holder img {
  width: 45%;
  transition: .5s;
  box-shadow: 0px 4px 8px rgba(128, 128, 128, 0.678);
}

#macrame-sketches-holder .macrame-inspirations-photos-holder img.macrame-sketches-big {
  z-index: 30;
}

#macrame-sketches-holder .macrame-inspirations-photos-holder img.macrame-sketches-big2 {
  z-index: 20;
  position: absolute;
  transform: translate(50%);
  width: 43%;
  left: 0;
}

#macrame-sketches-holder .macrame-inspirations-photos-holder img.macrame-sketches-big3 {
  z-index: 10;
  position: absolute;
  transform: translate(150%);
  width: 31%;
  left: 0;
}

#macrame-sketches-holder .macrame-inspirations-photos-holder img.macrame-sketches-big4 {
  z-index: 5;
  position: absolute;
  transform: translate(320%);
  width: 21%;
  left: 0;
}

#macrame-sketches-holder .macrame-inspirations-photos-holder img.hover-like {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
}

@media (min-width: 800px) {
  #macrame-sketches-holder p {
    margin-left: 25%;
  }
  #macrame-sketches-holder .macrame-inspirations-photos-holder {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */